html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
    color: #637282;
    font-weight: normal;
    overflow-x: hidden;
    letter-spacing: -.3px;
}

html body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.start {
    margin: 0 auto;
    font-size: 20pt;
    width: 100%;
    background: #ce1013 !important;
    color: #fff;
    height: 250px;
    text-align: center;
}

.background {
    background-image: url(https://media.istockphoto.com/photos/abstract-background-picture-id537447438?k=6&m=537447438&s=612x612&w=0&h=YF98lsh0OIxChOs4XmOFmuzLxSj8sieD-CiK-V8iGfU=);
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    padding: 0px !important;
}

.hunter_detail {
    margin-top: -80px
}

table {
    border: none;
    border-collapse: unset
}

.topShift {
    margin-top: -60px;
}

.container {
    width: 90%;
}

.hunters {
    margin-top: 20px
}

.some-text {
    font-size: 20px
}

/* .hunter_detail {
    background-image: linear-gradient(120deg, #dee3e6, #fff);
    box-shadow: 1px 1px 5px #dee3e6;
} */

img {
    max-width: 150px !important;
}

.name {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
}

.uid {
    font-weight: 600;
}

h2,
.h2 {
    line-height: 1.44;
}

h2 {
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #1B2733;
    font-weight: 700;
}

.h5,
h5 {
    font-size: 1rem;
}

h6 {
    font-weight: 200;
}

.h6,
h6 {
    font-size: 0.8rem;
}


.hunter_detail span,
.hunter_detail a {
    font-size: 14px;
}

.hunter_detail ul {
    list-style-type: none;
    padding: 0;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hunter_detail a:hover {
    text-decoration: none;
    color: #000000;
}

.hunter_detail a {
    color: #637282;
}

.hunter_detail ul li a {
    line-height: 1;
}

.hunter_detail .social-list a {
    color: #ce1013;
    font-size: 20px;
    margin-left: 8px;
}

.hunter_detail .social-list a:hover {
    color: black;

}

.hunter_detail ul li {
    margin: 15px 10px;
}

.hunter_detail li {
    margin-right: 15px;
}

.social-list li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}


.hunter_detail p {
    margin-bottom: 0px !important;
    color: #ddddee;
}

.hunter_detail .social-list {
    margin-bottom: 15px;
}


@media only screen and (max-width:768px) {

    .container {
        width: 100% !important;
    }

    .topShift {
        margin-top: -100px;
    }
}